SECRET_KEY=django-insecure-dev-key-change-in-prod
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=pmtool
POSTGRES_USER=pmtool_user
POSTGRES_PASSWORD=pmtool_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=3000
